body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 95%;
    margin: 0 auto;
   /* max-width: 1200px; */
}

#head {
    display: inline;
    margin-bottom: 10px;
}
#head.clearfix::before, 
#head.clearfix::after {
    content: " ";
    display: table;
}
#head.clearfix::after {
    clear: both;
}
header {
   
}
#headerPic img {
    display: block;
    width: 100%;
    margin-top: 1px;
    border: solid 1px rgb(206, 206, 206);
    padding: 10px;
}
h1 {
   font-weight: lighter;
   font-size: 36px;
  float: left;
}
nav {
    float: right;
}

ul{
    
}

ul li {
    float: left;
    list-style-type: none;
    padding: 5px;
    
}

ul li a {
    text-decoration-line: none;
    padding: 5px;
}

.active {
    
    background-color: rgb(85, 85, 219);
}
ul li.active a {
    color: white;
}

main {
    margin-top: 30px;
    
}
.left{
    float: left;
    width: 30%;
}
.left img {
    display: block;
    width: 100%;
}
.centar {
    float: left;
    width: 30%;
    padding-left: 5%;
    padding-right: 5%;
}

.centar img {
    display: block;
    width: 100%;
}
.right{
    float: right;
    width: 30%;
}

.right img {
    display: block;
    width: 100%;
}

h3 {
    margin-top: 0px;
}