<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <div>
        <ul class="meni clearfix">
            <li class="float">Blog</li>
            <li class="float">Contact</li>
            <li class="float">About</li>
            <li class="float">Home</li>
        </ul>
        <img src="https://udemy-images.udemy.com/course/750x422/505208_2307_4.jpg" class="udemi">
        <div class="div1">1</div>
        <div class="div2">2</div>
        <div class="div2a">
        <ul>
        <li>Rebuilding Slack.com</li>
        <li>Zašto bootcamp format</li>
        <li>React - prozor u svet web aplikacija</li>
        <li>Najveće zablude o programerima u Srbiji</li>
        </ul>
        </div>
        <div class="div3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus architecto veritatis nemo ratione itaque voluptates ipsam deserunt qui dolore ea sint unde molestiae odit facilis, deleniti maiores molestias nulla? Inventore! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex modi maxime quis a ducimus corporis doloribus, harum consequuntur officia debitis vitae velit dolor facere, ipsum fugiat sit cum id soluta!</div>
        <div class="div4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur iste commodi nostrum consequuntur officiis quod tempore maxime, odio iure! Iste dolor ex sequi voluptatibus tempora iure minima cupiditate vel quidem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, magnam nostrum, architecto repellendus officiis illum cupiditate iure autem dolorum aliquam numquam. Laborum ut sed minus incidunt facilis magnam doloribus repellendus.</div>
        <div class="div5">5</div>
        <div class="div6">6</div>
        <div class="div7">7</div>
        <div class="div8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus architecto veritatis nemo ratione itaque voluptates ipsam deserunt qui dolore ea sint unde molestiae odit facilis, deleniti maiores molestias nulla? Inventore! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex modi maxime quis a ducimus corporis doloribus, harum consequuntur officia debitis vitae velit dolor facere, ipsum fugiat sit cum id soluta!</div>
        <div class="div9">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur iste commodi nostrum consequuntur officiis quod tempore maxime, odio iure! Iste dolor ex sequi voluptatibus tempora iure minima cupiditate vel quidem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, magnam nostrum, architecto repellendus officiis illum cupiditate iure autem dolorum aliquam numquam. Laborum ut sed minus incidunt facilis magnam doloribus repellendus.</div>
        <div class="div10">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus architecto veritatis nemo ratione itaque voluptates ipsam deserunt qui dolore ea sint unde molestiae odit facilis, deleniti maiores molestias nulla? Inventore! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex modi maxime quis a ducimus corporis doloribus, harum consequuntur officia debitis vitae velit dolor facere, ipsum fugiat sit cum id soluta!</div>
        <div class = "footer">
            <p>&#169;BitStudent</p>
        </div>
    </div>
</body>
</html>