<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
   <!-- <h1 align="center">Layout Practice</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo optio architecto suscipit expedita voluptas eius fugiat vitae consectetur animi veniam, ullam iste quaerat, ipsa distinctio cumque. Sit consequuntur quidem voluptatibus.
    Fuga tenetur iste aliquid autem maiores numquam earum reiciendis ratione, facere, distinctio tempora ex incidunt. Necessitatibus ratione maxime temporibus. Tempore, vel culpa. Architecto consequuntur, provident earum cumque optio odit incidunt.
    Id voluptates non corrupti dolorem ab qui vitae inventore eaque perspiciatis recusandae reiciendis repudiandae neque excepturi delectus, voluptatem ea sunt dolore, eligendi quae, optio tempore consectetur in. Nisi, animi? Dolores.</p>
    <img src="http://www.badzic.com/gallery/razno/konj-umetnicka-slika.jpg" alt="" class="pozicija1">
    <img src="http://www.badzic.com/gallery/razno/konj-umetnicka-slika.jpg" alt="" class="pozicija2">
    <img src="http://www.badzic.com/gallery/razno/konj-umetnicka-slika.jpg" alt="" class="pozicija3"> -
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque doloribus veniam officia ad dolor pariatur asperiores accusantium dolore officiis quos eaque beatae, libero harum quis dolorum adipisci nemo natus eius.Sequi cum earum totam modi quaerat, suscipit necessitatibus nobis veniam. Eum debitis suscipit et cumque architecto sequi exercitationem expedita dolore impedit iusto, dolorum ipsa ducimus ratione consequatur tempora repudiandae itaque.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae ipsa eligendi adipisci distinctio maxime sapiente eveniet tempore quis. Dolores natus enim eveniet recusandae placeat nihil voluptas, quaerat illo laudantium? Accusamus?
    Velit voluptatibus dicta sit atque maxime dolorum nemo tempore delectus, molestiae deserunt doloremque nam totam, ducimus tenetur! Quidem sapiente eveniet nostrum itaque rem nesciunt, beatae repellendus et tempora non modi!
    Optio voluptate quos iste reprehenderit unde ipsa fugiat dolores! Harum, alias repellat iure error commodi voluptate quam animi doloremque? Deleniti repellat quidem doloribus incidunt, ipsa debitis minima consequuntur nostrum praesentium? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsam vel libero alias necessitatibus similique ad cupiditate eaque reiciendis esse, consectetur, consequatur sed saepe maxime voluptatibus facere. Beatae, quasi. Deleniti?
    Blanditiis in vitae, reiciendis voluptas atque cupiditate ipsam animi itaque aliquam voluptatem vero minus ducimus eaque quibusdam laboriosam aliquid voluptates, error commodi? Consectetur illo optio adipisci, facere sed assumenda suscipit.
    Eveniet facere architecto et officia, nemo culpa assumenda modi sunt a cupiditate sint consequatur! Iusto veniam voluptatem inventore deleniti quidem qui, animi harum repellat culpa repudiandae molestias natus maiores sit.
    Unde quia dolore enim saepe ad maiores neque, quasi, vel nulla quo minima, modi iste porro in eum provident expedita eligendi. Laborum nihil alias laboriosam animi. Mollitia deleniti ipsa velit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam debitis voluptatum reprehenderit maxime quaerat omnis fuga, error aliquid nulla hic, veniam voluptatem consequatur eos quidem ipsum excepturi repudiandae? Officia, repudiandae! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda minus adipisci, ipsam error voluptatum quas labore perferendis corporis eos eum natus hic? Incidunt corrupti totam, sint nemo quod a modi?
    Aspernatur omnis laboriosam laborum quod officia, nostrum alias corrupti? Pariatur nihil asperiores libero ex ad provident quisquam quae perspiciatis impedit, rem maxime, doloribus deleniti molestias porro voluptatum enim autem. Debitis?
    Quo enim ipsum quaerat laborum, illum itaque excepturi facilis tempora fugit hic natus. Fuga dolorum consequatur quo in officiis possimus officia, quia rerum corrupti quod praesentium deserunt veniam reiciendis cumque.
    In consequatur suscipit neque saepe, dolorem ex magnam ut natus earum alias error deleniti eaque animi voluptatum. Ea ut consequuntur exercitationem quod excepturi minus sed? Sunt recusandae cum deserunt possimus!
    Id repellat repudiandae, adipisci quo, officiis numquam rerum ipsam vel earum voluptatem nesciunt qui eligendi quod accusantium? Inventore praesentium placeat veniam, dolor quos iure quasi maiores impedit corrupti, at tempora.</p>
   <a href="layout.html" id = "top"><img src="backtotop.png"></a> -->

  <!-- <div class="div1"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aperiam corporis sapiente. Labore nemo nostrum odio id consectetur, eos non velit. Repellendus voluptatum, adipisci libero laborum et minus quae culpa.

   </div>
   <div class="div2">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id atque cumque a vero asperiores iusto officiis ut, recusandae unde! Nostrum vero aspernatur esse quod iure nesciunt, doloremque aliquam sint voluptatum?
   </div>
   <div class="div3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, commodi earum dolore nobis veritatis repellat quos asperiores quaerat modi ea aperiam eius odio alias velit. Beatae eos similique obcaecati optio?
   </div>

   <div class="div4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aperiam corporis sapiente. Labore nemo nostrum odio id consectetur, eos non velit. Repellendus voluptatum, adipisci libero laborum et minus quae culpa.

    </div>
    <div class="div5">
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id atque cumque a vero asperiores iusto officiis ut, recusandae unde! Nostrum vero aspernatur esse quod iure nesciunt, doloremque aliquam sint voluptatum?
    </div>
    <div class="div6">
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, commodi earum dolore nobis veritatis repellat quos asperiores quaerat modi ea aperiam eius odio alias velit. Beatae eos similique obcaecati optio?
    </div>
    <br />
    <br />
    <br />
    <div class="div7"></div>
    <div class="div8"></div>
    <div class="div9"></div>
    <hr />
    <div class="div10"></div>
    <div class="div11"></div>
    <div class="div12"></div>
    <hr />
    <div class="div13"></div>
    <div class="div14"></div>
    <div class="div15"></div> -->
<div>
    <ul class="meni clearfix">
        <li class="float">Blog</li>
        <li class="float">Contact</li>
        <li class="float">About</li>
        <li class="float">Home</li>
    </ul>
    <img src="https://udemy-images.udemy.com/course/750x422/505208_2307_4.jpg" class="udemi">
    <div class="div1">1</div>
    <div class="div2">2</div>
    <div class="div3">3</div>
    <div class="div4">4</div>
    <div class="div5">5</div>
    <div class="div6">6</div>
    <div class="div7">7</div>
    <div class="div8">8</div>
</div>
</body>
</html>