body {
    margin: 0;
}

@font-face {
    font-family: robotoRegular;
    src: url(fonts/Roboto-Regular.ttf);
}


* {
    box-sizing: border-box;
    width: 100%;
    font-family: robotoRegular;
}

/* Mobile view */
@media  screen and (min-width: 320px) and (max-width: 768px) {
    body {
        margin: 0 auto;
    }
    header {
        width: 100%;
        margin: 0;
    }
    
    .headline{
        background-image: url(images/banner3.jpg);
        width: 100%;
        background-size: cover;
        padding: 50px;
    }

    h2  {
        color: white;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        display: inline-block;
    }

    .headline button {
        display: block;
        color: white;
        background-color: rgb(112, 138, 223);
        border-radius: 10px;
        padding: 5px;
        margin: 25px auto 0px auto;
        width: 100px;
        border: none;
    }

    h1 {
       font-size: 30px;
       text-transform: uppercase;
       margin-top: 20px;
       text-align: center;

    }
    h1 .first{ 
        border: 4px solid rgb(117, 114, 114);
        border-right: 0px;
        color: orange;
    }

    h1 .second{
        color:rgb(117, 114, 114);
    }

    header ul{
        background-color: rgb(117, 182, 235);
        margin: 0px auto;
        text-align: center;
        list-style: none;
        width: 90%;
        padding: 5px 0px; 
    }

    header ul li a{
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 5px;
        display: block;
        font-weight: bold;
    }
    
    main h3{
        font-size: 32px;
        text-align: center;
        margin-top: 70px;
    }

    .linedecoration{
        margin: 0 auto;
        width: 145px;
        margin-top: -10px;
    }

    .clearfix:before,
    .clearfix:after{
        content: "";
        display: table;
    }
    .clearfix:after{
        clear: both;
    }

    .lineleft{
        border-top: 2px solid;
        width: 50px;
        float: left;
        margin-right: 10px;
    }

    .romb {
        border: 2px solid;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        float: left;
        margin-top: -10px;
    }

    .lineright{
        border-top: 2px solid;
        width: 50px;
        float: left;
        margin-left:10px; 
    }

    h4{
        color:rgb(110, 166, 250);
        font-size: 20px;
        text-indent: 40px;
    }

    main p{
        font-size: 1.1em;
        /* font-weight: 550; */
        width: 85%;
        letter-spacing: 1px;
        margin: 0 auto;
        line-height: 24px;
    }

    main ul{
        padding-left: 60px;
    }

    main ul li{
        list-style-image: url(images/arrow_bullet.png);
        padding: 10px;
        color: rgb(82, 78, 78);
        letter-spacing: 1px;
        font-size: 1.1em;
    }
    
    main img{
        display: block;
        width: 85%;
        margin: 0px auto;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    main div.people ul{
        float: left;
        display: inline-block;
        widows: 90%;
        padding-left: 30px;
        margin: 10px 0;
    }
    
    main div.people ul li{
        list-style: none;
        background-color: rgb(81, 169, 228);
        display:inline-block;
        margin: 10px 0;  
    }
    main div.people ul li img{
        float: left;
        border-radius: 100%;
        border: 1px solid white;
        padding: 5px;
        width: 80px;
        margin-left: 15px;
    }

    div.listheading{
        float:left;
        width: 200px;
        margin-top: 20px;    
    }

    .listheading p{
        display: block;
        color: black;
        font-weight: 600;
    }

    .stars i{
        display: inline;
        font-size:18px;
        color:white;
        
    }
    
    .peopletext{
        clear: both;
        color: white;
        margin-top: 10px;
        width: 90%;
    }

    main .main-two {
        margin-top: 100px;
        height: 100px;
        position: absolute;
        top:2350px;

    }

     main .main-two h3{
        font-size: 32px;
        text-align: center;
        padding-top: 250px;
        height: 100px;
    }

    main .main-two .linedecoration .lineleft{
        border-top: 2px solid;
        width: 50px;
        float: left;
        margin-right: 10px;
        position: relative;
        top: 35px;
    }

    main .main-two .linedecoration .romb {
        border: 2px solid;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        float: left;
        margin-top: -10px;
        position: relative;
        top: 35px;
    }

    main .main-two .linedecoration .lineright{
        border-top: 2px solid;
        width: 50px;
        float: left;
        margin-left:10px; 
        position: relative;
        top: 35px;
    }

    .contact{
        background-color: rgb(58, 221, 154);
        position: relative;
        top: 60px;
        width: 100%;
        height: 200px;
    }

    .contact h6{
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-size: 26px;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 20px;
        font-family: robotoRegular;
        font-weight: normal;
    }

    .contact p{
        display: block;
        align-content: center;
        margin: 0px auto;
        padding-bottom: 10px;
        color: white;
        text-decoration: none;

    }

    .contact p i {
        display: inline;
        padding-right: 20px;
        padding-left: 130px;
        color: white;
    }

    .contact p a {
        text-decoration: none;
        color: white;
    }

    .connect{
        background-color: rgb(252, 82, 130);
        position: relative;
        top:60px;
        width: 100%;
        height: 200px;
    }
    .connect h6{
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-size: 26px;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 20px;
        font-family: robotoRegular;
        font-weight: normal;
    }

    .connect .social-icons{
        display: inline;
        width: 100%;
        
    }

    .connect .social-icons li{
        list-style: none;
        padding-left: 20px;
        margin: 0px auto;
        
    }
    .connect .social-icons li a i{
        color: white;
    }

    .social-icons img {
        display: inline;
        width: 24px;
        height: auto;
        float: left;
        color: white;
    }
    .people img {
        width:50px;
    }
    .home img {
        width:100px;
    }
    iframe {
        width:300px;
    }
}

